@import "../var.scss";
@import "../mixin.scss";

.cover {
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 2em), 0% 100%);
  margin-bottom: 2em;
  position: relative;
}

.coverWrapper {
  width: calc(100% - 1.25em);
  margin-left: auto;
  margin-right: auto;
  max-width: 38rem;
  padding: 8em 0;
  padding-top: 12em;

  @media (min-width: 64rem) {
    max-width: 48rem;
  }
}

.coverGradient {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  position: absolute;
  width: 100%;
  height: 100%;
}

.coverBlock {
  padding: 1.25em;
  color: #fff;
  background-color: rgba(28, 28, 33, 0.75);
  backdrop-filter: blur(5px);
  border-radius: 0.25em;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.coverBlock_title {
  margin-top: 0;
  line-height: 1.2;
  margin-bottom: 0.25em;
  font-size: 3.2em;
}

.coverBlock_date {
  margin-bottom: 0;
  opacity: 0.75;
  line-height: 1.4;
  font-size: 1em;
}

.post {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5rem;
  color: #18191b;
  word-wrap: break-word;
}

.post > p {
  padding-left: 20px;
  padding-right: 20px;
  margin: 1.2rem 0;
}

.post > p:first-child::first-letter {
  float: left;
  line-height: 1;
  font-size: 4.8rem;
  padding: 0 0.125rem 0 0;
  text-transform: uppercase;
  color: #1c1c21;
}
