.post-footer
    position relative

.post-footer-wrapper
    padding 2rem 0
    border-top 1px solid #e7e7e7
    border-bottom 1px solid #e7e7e7
    @media (max-width: $grid-breakpoints.md)
        padding 1rem 0

.post-share
    overflow hidden
    max-width 665px
    margin 0 auto
    padding 0
    list-style none
    
    @media (max-width: $grid-breakpoints.md)
        display flex
        justify-content center
    li
        font-size 0.75rem
        font-weight 600
        line-height 3rem
        border-radius 2px
        float left
        width 10rem
        height 3rem
        margin 0 1.2rem 0 0
        text-align center
        cursor pointer
        text-transform uppercase
        transition color $time-norm ease-out, background $time-norm ease-out, opacity $time-norm ease-out, border $time-norm ease-out
        
        @media (max-width: $grid-breakpoints.sm)
            width 6.5rem

        a
            color #fff

        svg
            height 1.5rem
            width 3rem
            fill #fff
            vertical-align -0.4125rem
            @media (max-width: $grid-breakpoints.sm)
                display none
            
        &:last-child
            margin-right 0

    .post-share-title
        font-size 0.9rem
        font-weight 400
        width auto
        margin 0 2rem 0 0
        color #898888
        @media (max-width: $grid-breakpoints.md)
            display none

    .post-share-vk
        background #45668e
        &:focus, &:hover
            background #334c6b

    .post-share-twitter
        background #55acee
        &:focus, &:hover
            background #2795e9

    .post-share-telegram
        background #2ca5e0
        &:focus, &:hover
            background #1d89bf

    .post-share-google
        background #dd4b39
        &:focus, &:hover
            background #c23321


// .post-nav-wrapper
//     overflow hidden

// .post-nav
//     position absolute
//     top 55px
//     display block
//     width 270px
//     transition margin .4s ease-out
//     span
//         font 600 13px Montserrat, Arial, Sans-Serif
//         margin 0 0 10px
//         transition color .4s ease-out
//         text-transform uppercase
//         color #dddee2
//     .post-title
//         font 700 17px Hind, Arial, Sans-Serif
//         line-height 24px
//         margin 0
//         transition color .4s ease-out
//         color #939699

// .post-nav-previous
//     left 80px
//     text-align left

// .post-nav-next
//     right 80px
//     text-align right

// .post-floating-social a,
// .post-share li
//     border-radius 2px
//     transition color $time-norm ease-out, background $time-norm ease-out, opacity $time-norm ease-out, border $time-norm ease-out

// .post-nav:focus span,
// .post-nav:hover span
//     color #e7762c

// .post-nav:focus .post-title,
// .post-nav:hover .post-title
//     color #38393b