.post-tags a
    font-family Helvetica, Arial, sans-serif
    font-size 0.875rem
    font-weight 500
    display inline-block
    margin 1rem 0.6rem 0 0
    padding 0.5rem 0.9rem
    color #2e2f31
    border 0
    border-radius 3px
    background #f2f4f6
    &:hover
        background #e9ebed

    @media (max-width: $grid-breakpoints.md)
        margin 0.8rem 0.5rem 0 0
        padding 0.4rem 0.8rem
    @media (max-width: $grid-breakpoints.sm)
        margin 0.7rem 0.4rem 0 0
        padding 0.4rem 0.7rem
        font-size 0.8rem
