<!doctype html>
<html lang="{{.Site.LanguageCode}}">
{{ partial "head.html" . }}

<body>
    <div class="wrapper">
        {{ block "title" . }}{{ end }}
        <!--  -->
        <!--  -->
        {{ block "main" . }}{{ end }}
        <!--  -->
        <!--  -->
        {{ partial "footer.html" . }}
    </div>

    <script type="text/javascript">
        "use strict";

        // Check for the passive option
        var passiveSupported = false;

        try {
            var options = Object.defineProperty({}, "passive", {
                get: function() {
                    passiveSupported = true;
                }
            });

            window.addEventListener("test", options, options);
            window.removeEventListener("test", options, options);
        } catch (err) {
            passiveSupported = false;
        }

        var html = document.querySelector("html");
        // Menu
        var toggle = document.querySelector(".header_navigation-toggle");
        var svg_use = toggle.querySelector("use");
        var menu = document.querySelector(".header_navigation");

        var clickEvent = "ontouchstart" in window ? "touchstart" : "click";
        toggle.addEventListener(
            clickEvent,
            function(event) {
                if (svg_use.getAttribute("xlink:href") == "#icon-bars") {
                    svg_use.setAttribute("xlink:href", "#icon-close");
                    menu.classList.add("header_navigation__open");
                    html.classList.add("no-scroll");
                } else {
                    svg_use.setAttribute("xlink:href", "#icon-bars");
                    menu.classList.remove("header_navigation__open");
                    html.classList.remove("no-scroll");
                }
            }, passiveSupported ? {
                passive: true
            } : false
        );
    </script>
</body>

</html>