{{ define "title" }}
    {{ partial "header.html" (dict "content" . "while" 1) }}
{{ end }}

{{ define "main" }}
<section class="cover-page">
    {{if .Params.image}}
        <div class="cover-background" style="background-image: url('{{ "image/" | absURL }}{{ .Params.image }}');"></div>
    {{else}}
        <div class="cover-background" style="background-image: url('https://unsplash.it/1920/800?random');"></div>
    {{end}}
    <div class="cover-gradient"></div>
    <div class="container cover-contents">
        <div class="post-categories">
            {{ range $index, $category := .Params.categories }}
                <a class="post-category" href="{{ $.Site.BaseURL }}categories/{{ $category | urlize }}/">{{ . }}</a>
            {{ end }}
        </div>
        <h1 class="post-title">{{ .Title }}</h1>
        {{if .Params.excerpt }}
            <hr>
            <p class="post-subtitle">{{ .Params.excerpt }}</p>
        {{ end }}
    </div>
</section>
<!--  -->
<!--  -->
<section class="container post">
    {{ .Content }}
</section>
{{ end }}
