<head>
	<meta charset="utf-8">
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
	<title>{{ .Title | default .Site.Title }}</title>
	
	{{if .Params.excerpt}}
	<meta name="description" content="{{.Params.excerpt}}">
	{{else}}
	<meta name="description" content="{{ .Site.Params.description }}">
	{{end}}
	
	<link rel="canonical" href="{{ .URL | absLangURL }}" />
	<link rel="manifest" href="{{ "manifest.json" | absURL }}">
	<meta name="author" content="{{ .Site.Author.name }}"/>
	<meta name="theme-color" content="#ffea00"/>

	<!-- Open Graph -->
	<meta property="og:title" content="{{ .Title | default .Site.Title }}" />			
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ .Permalink }}" />
	{{if .Params.image}}
		<meta property="og:image" content="{{ "image/" | absURL }}{{ .Params.thumbnail }}" />
	{{end}}

	<!-- Enable responsiveness on mobile devices-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	
	<!-- CSS -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="{{ "assets/main.css" | relLangURL }}" />
	
	<!-- Icons -->
	<!-- <link href="./apple-touch-icon-144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144"> -->
	<link href="{{ "favicon.png" | relLangURL }}" rel="shortcut icon">

	<!-- RSS -->
	<link href="{{ "index.xml" | relLangURL }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
	<link href="{{ "index.xml" | relLangURL }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />

	<!-- Polyfill for old browsers -->
	{{ partial "polyfill.html" . }}
</head>
