* {
    box-sizing border-box
}

*:before,
*:after {
    box-sizing border-box
}

::selection {
    color #fff
    background #f07e51
    text-shadow none
}

::-moz-selection {
    color #fff
    background #f07e51
    text-shadow none
}



a
    transition color $time-fast ease-out, border $time-fast ease-out, opacity $time-fast ease-out, background $time-fast ease-out
    text-decoration none
    color #dd2200
    
    &::hover,
    &::focus
        color #3AA0E8
    
body
    background-color #fff
    font-family -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif
    line-height $body-line-height
    -webkit-font-smoothing antialiased
    
    @media (min-width: $grid-breakpoints.md)
        line-height $body-line-height

img
    max-width 100%





.container
    padding-right 15px
    padding-left 15px
    margin-right auto
    margin-left auto
    width 100%

@media (min-width: $grid-breakpoints.md)
    .container
        width 750px

@media (min-width: $grid-breakpoints.lg)
    .container
        width 970px

@media (min-width: $grid-breakpoints.xl)
    .container
        width 1100px