/*
    ______    _ _                 _   _                     _     _ _                   _     _     _ _
    |  ___|  | | |               | | | |                   | |   (_) |                 | |   | |   (_) |
    | |_ ___ | | | _____      __ | |_| |__   ___  __      _| |__  _| |_ ___   _ __ __ _| |__ | |__  _| |_
    |  _/ _ \| | |/ _ \ \ /\ / / | __| '_ \ / _ \ \ \ /\ / / '_ \| | __/ _ \ | '__/ _` | '_ \| '_ \| | __|
    | || (_) | | | (_) \ V  V /  | |_| | | |  __/  \ V  V /| | | | | ||  __/ | | | (_| | |_) | |_) | | |_
    \_| \___/|_|_|\___/ \_/\_/    \__|_| |_|\___|   \_/\_/ |_| |_|_|\__\___| |_|  \__,_|_.__/|_.__/|_|\__|

http://www.network-science.de/ascii/
font basic

SVG: Font Awesome
*/

@import 'vendor/normalize.css'
@import 'vendor/hljs.css'

@import 'var.styl'
@import 'print.styl'
@import 'elem.styl'

@import 'partials/*.styl'
@import 'post/*.styl'
@import 'page/*.styl'


.no-scroll
    overflow hidden //For a menu on the phone

// Footer at bottom
.wrapper
    display flex
    flex-direction column
    height 100vh

#disqus_thread
    margin 0 auto
    margin-top 1rem
    max-width 880px

#disqus_loader
    text-align center
    width 100%
    margin-top 2rem
    margin-bottom 2rem
    svg
        width 5rem
        height auto

@media (max-width: $grid-breakpoints.md)
    html
        font-size: 14px
    
@media (min-width: $grid-breakpoints.lg)
    html
        font-size: 15px
    
@media (min-width: $grid-breakpoints.xl)
    html
        font-size: 16px
    