//
// Variables
// --------------------------------------------------
$body-line-height = 1.4


// Color
$black = #000
$white = #fff
$almost_black = #191919
$yellow = #ffea00
$green = #7fbb00
$orange = #ed5e42
$gray = #eee

// Transform
$time-norm = 0.3s
$time-fast = ($time-norm/2)s


// Media
$grid-breakpoints = {
  xs: 400px,
  sm: 550px,
  md: 750px,
  lg: 992px,
  xl: 1200px
}
