.page-archive {
    list-style none
    margin-top 3em
    padding: 0
}

.page-archive li {
    padding 0.5em
}

.page-archive li:nth-child(2n+1) {
    background-color #fafafa
}

.page-archive time {
    float right
    margin-left 1em
}