{{ define "title" }}
    {{ partial "header.html" (dict "content" . "while" 1) }}
{{ end }}

{{ define "main" }}
<section class="cover-page">
    {{if .Params.image}}
        <div class="cover-background" style="background-image: url('{{ "image/" | absURL }}{{ .Params.image }}');"></div>
    {{else}}
        <div class="cover-background" style="background-image: url('https://unsplash.it/1920/800?random');"></div>
    {{end}}
    <div class="cover-gradient"></div>
    <div class="container cover-contents">
        <div class="post-categories">
            {{ range $index, $category := .Params.categories }}
                <a class="post-category" href="{{ $.Site.BaseURL }}categories/{{ $category | urlize }}/">{{ . }}</a>
            {{ end }}
        </div>
        <h1 class="post-title">{{ .Title }}</h1>
        <hr>
        <p class="post-subtitle">{{ .Params.excerpt }}</p>
    </div>
</section>
<!--  -->
<!--  -->
<section class="container">
    <ul class="page-archive">
        {{ range (where .Site.Pages "Type" "post") }}
            <li>
                <time class="Unix-time" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Unix | safeHTML }}</time>
                <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
            </li>
        {{ end }}
    </ul>
</section>
{{ end }}
