@import "../var.scss";
@import "../mixin.scss";

$color-link: #9f9f9f;
$color-text: #ed5e42;

$size-icon: 2rem;
$footer-bg: #fbfcfd;
$footer-icon: (
  "soc_vk": #45668e,
  "soc_github": #333333,
  "soc_telegram": #2ca5e0,
  "soc_youtube": #e32e28,
  "soc_feed": #e77b39
);

@each $key, $value in $footer-icon {
  .#{$key}:hover {
    background-color: $value;
    svg {
      fill: #fff;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}

.footer {
  padding: 1.2rem 0rem 1rem 0rem;
  margin-top: 2rem;
  flex: 0 0 auto; // Footer at bottom
  text-align: center;
  background: $footer-bg;

  li {
    display: inline-block;
  }

  a {
    border-bottom: 1px solid rgba(255, 255, 255, 0);
  }
}

.socials {
  margin: 0;
  padding: 0;
}

.socials li {
  height: $size-icon;
  width: $size-icon;
  margin-right: 0.8rem;
  margin-bottom: 0;
  border-radius: 12%;
  transition: background-color $time-norm;

  a {
    border: none;
    display: block;
    width: $size-icon;
    height: $size-icon;
  }

  svg {
    height: ($size-icon / 3 * 2);
    margin-top: ($size-icon / 6);
    transition: fill $time-norm;
    fill: #383838;
  }
}

.link {
  font-size: 0.9125rem;
  padding: 0;
  margin: 0.7rem 0;

  li {
    margin-right: 0.9rem;
    a {
      font-weight: 400;
      color: $color-link;
      &:hover {
        border-bottom: 1px solid $color-link;
      }
    }
  }
}

.text {
  @include link();

  margin: 0;
}

.heart_wrapper svg {
  width: 1rem;
  animation: pulse 1s linear infinite;
  fill: #e73a2d;
}
