
.header {
    padding-top: 1.35rem
}

.header_title {
    font-size: 2.7rem;
    font-weight: 700;
    float: left;
    letter-spacing: .125rem;
    text-transform: uppercase;
    color: #000;
    text-decoration: none
}
