@import "../var.scss";

.list {
  display: flex;
  flex-direction: column;
}

.article {
  height: 13rem;
  display: flex;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: solid 1px #eee;
  align-items: center;
}

.thumbnail {
  background: #000;
  width: 30%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.content {
  margin-left: 1rem;
  background-color: #9f7;
}
