//
// Variables
// --------------------------------------------------

// Color
$yellow: #ffea00;

// Transform
$time-norm: 0.3s;
$time-fast: $time-norm/2;

// Media
$grid-breakpoints: (
  "xs": 400px,
  "sm": 550px,
  "md": 750px,
  "lg": 992px,
  "xl": 1200px,
);
